# This is Git's per-user configuration file.
[user]
	name = Akash-M-Ubale
	email = akashubale70@gmail.com
# Please adapt and uncomment the following lines:
#	name = Ubuntu
#	email = ubuntu@ip-172-31-41-103.ap-south-1.compute.internal
